name: Deploy Flask App

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Prepare artifact
        run: |
          mkdir artifact
          cp -r app.py templates requirements.txt artifact/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: flask-app
          path: artifact/
